@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&display=swap');
*{ box-sizing: border-box}
body {
	 font-family: 'Barlow', sans-serif; font-size: 18px; color: #4D4D4D; margin: 0; background: url("../img/LANDING PAGE.png"); background-repeat: no-repeat; background-position: center center; background-size: cover
}
.container{ width: 90%; margin: auto}
.img-100{ width: 100%; height: auto}
.img-circle{ border-radius: 50%}
.row{ display: flex; flex-wrap: wrap}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
[class*="col-"] {
  padding: 15px;
  /*border: 1px solid red;*/
}
.py-50{ padding: 50px} .pt-30{ padding-top: 30px} .pt-50{ padding-top: 50px} .pt-250{ padding-top: 250px}
.p-0{ padding: 0} .p-3{padding: 15px}
.mt-0{ margin-top: 0}.my-10{margin: 10px 0} .mb-10{margin-bottom: 10px} .mt-30{ margin-top: 30px} .mt-15{ margin-top: 15px}
.my-30{ margin-top: 30px; margin-bottom: 30px} .ml-10 {margin-left: 10px} .mr-10 {margin-right: 10px} .ml-20 {margin-left: 20px} .mr-20 {margin-right: 20px}
.mx-auto { margin-left: auto; margin-right: auto}
.text-right{ text-align: right}
.text-center { text-align: center}
.d-flex{ display: flex}
.d-block{ display:block}
.d-none{ display: none}
.justify-center{ justify-content: center}
.justify-between{ justify-content: space-between}
.justify-around{ justify-content: space-around}
.flex-row-reverse{flex-direction: row-reverse}
.align-item-center{align-items: center}
.text-white{ color: #fff}
.btn-fill-primary
{
    background-color:#F87503;
    padding: 10px 20px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
     border: 2px solid #F87503;
    transition: all .5s;
    
}
.btn-fill-primary:hover{
     background-color:#Ff0;
    color: #333
}
.btn-outline-primary {
    background: none;
    padding: 10px 20px;
    color: #F28F8F;
    border-radius: 8px;
    cursor: pointer;
    text-transform: none;
     transition: all .5s;
     border: 1px solid #F28F8F;
    
}
.btn-outline-primary:hover{
     background-color:#F28F8F;
    color: white
}
.btn-outline-caption
{
    font-size: 16px;
	border-radius: 8px;
    background: none;
    padding: 15px 30px;
    color: #F28F8F;
    cursor: pointer;
	font-weight: bold;
	margin: 10px auto;
    transition: all .5s;
    border: 1px solid #F28F8F;
box-shadow: 0 0 10px rgba(242,143,143,.5);
		
}
.btn-outline-caption:hover{
    background: #F28F8F; color: white
}
.btn-outline-select
{
    border: 2px solid white;
	border-radius: 50px;
    background: none;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
	font-weight: bold;
	margin: 10px auto;
    transition: all .5s
		
}
.btn-outline-select:hover{
    background: #d560ff;
	background: linear-gradient(180deg, #d560ff 0%, #a958ff 56%, #4846ff 100%);
	border: none
}
.form-control {
	width: 100%; padding: 10px; margin-bottom: 10px; border-radius: 5px; border: 1px solid gray
}
.text-bold {
	font-weight: bold
}
.bogoc {
    border-radius: 12px
}